# General
settings*.xml

# Job Settings Files
WAR_*.lua
MNK_*.lua
WHM_*.lua
BLM_*.lua
RDM_*.lua
THF_*.lua
PLD_*.lua
DRK_*.lua
BST_*.lua
BRD_*.lua
RNG_*.lua
SAM_*.lua
NIN_*.lua
DRG_*.lua
SMN_*.lua
BLU_*.lua
COR_*.lua
PUP_*.lua
DNC_*.lua
SCH_*.lua
GEO_*.lua
RUN_*.lua

# Mode Settings
modes/WAR_*.lua
modes/MNK_*.lua
modes/WHM_*.lua
modes/BLM_*.lua
modes/RDM_*.lua
modes/THF_*.lua
modes/PLD_*.lua
modes/DRK_*.lua
modes/BST_*.lua
modes/BRD_*.lua
modes/RNG_*.lua
modes/SAM_*.lua
modes/NIN_*.lua
modes/DRG_*.lua
modes/SMN_*.lua
modes/BLU_*.lua
modes/COR_*.lua
modes/PUP_*.lua
modes/DNC_*.lua
modes/SCH_*.lua
modes/GEO_*.lua
modes/RUN_*.lua

# Skillchain Settings
skillchains/WAR_*.lua
skillchains/MNK_*.lua
skillchains/WHM_*.lua
skillchains/BLM_*.lua
skillchains/RDM_*.lua
skillchains/THF_*.lua
skillchains/PLD_*.lua
skillchains/DRK_*.lua
skillchains/BST_*.lua
skillchains/BRD_*.lua
skillchains/RNG_*.lua
skillchains/SAM_*.lua
skillchains/NIN_*.lua
skillchains/DRG_*.lua
skillchains/SMN_*.lua
skillchains/BLU_*.lua
skillchains/COR_*.lua
skillchains/PUP_*.lua
skillchains/DNC_*.lua
skillchains/SCH_*.lua
skillchains/GEO_*.lua
skillchains/RUN_*.lua

# Paths
paths/*